body {
  background-color: #060606;
  color: white;
  padding-top: 0.5em;
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}

button, input, #loader, #filename {
  display: none;
}

#filters {
  display: none;
  vertical-align: top;
  padding-top: 30px;
  font-size: smaller;
}

#filters #revert, button {
  cursor: pointer;
}

#filters #revert:hover {
  text-decoration: underline;
}

#filters input[type=range]
{
  display: inline-block;
}

#filters label {
  vertical-align: 6px;
  width: 130px;
  display: inline-block;
}

label {
  vertical-align: middle;
}

input {
  width:  200px;
}

#camera {
  display: inline-block;
  background-color: #111;
  width: 320px;
  height: 240px;
  margin: 0.5em;
}

#camera .placeholder {
  padding: 0.5em;
}

#snapshots {
  height: 120px;
  margin: 0.5em 0;
  padding: 0.5em;

  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  background-color: #111;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#camera #overlay {
	height: 100%;
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 0px;
	left: 0px;
}

#snapshots canvas, #snapshots img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  margin-left: 3px;
  border: 3px solid transparent;
}

#snapshots .selected {
  border: 3px solid #e00;
}

button, #upload_status, #upload_result, #loader {
  margin: 0.5em;
}
